# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Fichiers temporaires CS2
*.bak
*.tmp
*_lastclouded

# Fichiers sensibles (Steam ID personnel)
socache.dt
voice_ban.dt
trustedlaunch.cfg

# Dossier local
*.local
